<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>泉州闽泰贸易有限公司</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">

    <!-- JS
  ================================================== -->
    <script src="__PUBLIC__/js/jquery-1.8.2.min.js" type="text/javascript"></script> <!-- jQuery -->
	<script src="__PUBLIC__/js/jquery.easing.1.3.js" type="text/javascript"></script> <!-- jQuery easing -->
	<script src="__PUBLIC__/js/modernizr.custom.js" type="text/javascript"></script> <!-- Modernizr -->
    <script src="__PUBLIC__/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script> <!-- tabs, toggles, accordion -->
    <script src="__PUBLIC__/js/custom.js" type="text/javascript"></script> <!-- jQuery initialization -->
  
    <!-- Responsive Menu -->
    <script src="__PUBLIC__/js/jquery.meanmenu.js"></script> 
    <script>
    jQuery(document).ready(function () {
    jQuery('header nav').meanmenu();
    });
    </script>

	<!-- Filtering -->
	<script src="__PUBLIC__/js/jquery.isotope.min.js"></script>
	<script src="__PUBLIC__/js/filter.js"></script>
	
	<!-- Prety photo -->
	<script src="__PUBLIC__/js/jquery.prettyPhoto.js"></script>
	<script>
		$(document).ready(function(){
			$("a[data-gal^='prettyPhoto']").prettyPhoto();
		});
	</script>

	<!-- Tooltip -->
    <script src="__PUBLIC__/js/tooltip.js"></script>

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">
	<link rel="apple-touch-icon" href="__PUBLIC__/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="__PUBLIC__/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="__PUBLIC__/images/apple-touch-icon-114x114.png">
<style>
    .text-width{
        width: 100% !important;
    }
</style>
</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

<header class="header">
<div class="container">
<div class="logos columns">
<h1 class="logo"><a href="__MODULE__/Index/index.html"><img src="__PUBLIC__/images/logo.png" alt="EVOLVE" /></a></h1>
</div><!-- logo -->

<div class="twelve columns">
<nav class="main_menu">

<ul>
<li>
<a href="__MODULE__/Index/index.html">
主页
<div class="sub">
Home
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/company.html">
公司简介
<div class="sub">
Company
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/product.html">
产品介绍
<div class="sub">
Product
</div>
</a>
<ul>
<li><a href="__MODULE__/Product/images.html">果葡糖浆</a></li>
<li><a href="__MODULE__/Product/images2.html">麦芽糖浆</a></li>
<li><a href="__MODULE__/Product/images3.html">食用葡萄糖</a></li>
<li><a href="__MODULE__/Product/images4.html">植脂末</a></li>
<li><a href="__MODULE__/Product/images5.html">山梨糖醇</a></li>
<li><a href="__MODULE__/Product/images6.html">白砂糖</a></li>
<li><a href="__MODULE__/Product/images7.html">玉米淀粉</a></li>
<li><a href="__MODULE__/Product/images8.html">麦芽糊精</a></li>
<li><a href="__MODULE__/Product/images9.html">玉米淀粉</a></li>
</ul>
</li>

<li>
<a href="__MODULE__/Index/news.html">
公司新闻
<div class="sub">
News
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/job.html">
招聘信息
<div class="sub">
Job
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/contact.html">
联系我们
<div class="sub">
Contact us
</div>
</a>
</li>
</ul>

</nav><!-- navigation -->
</div>
<div class="clearfix"></div>
</div>
</header><!-- header -->

<div class="container">
<div class="sixteen columns page-title">
<div class="eight columns alpha">
<h3> <span>泉州闽泰贸易有限公司</span> </h3>
</div>
<div class="eight columns omega">
<nav class="breadcrumbs">
<ul>
<li>当前位置:</li>
<li>
<a href="__MODULE__/Index/index.html">主页</a>
</li>
<li>公司新闻</li>
</ul>
</nav>
</div>
<div class="clearfix"></div>
</div><!-- page-title -->
</div><!-- container -->

	

<div class="container">
			
			<div class="works">
				<div class="row-item sixteen columns identity photography tehnology">
					
					<div class="desc eight columns omega text-width">
						<h3 style="content;">如何正确的使用淀粉</h3>
						<div class="tags">
							
						</div>
						<p>
						淀粉也就是俗称的“芡”，白色粉末，无味，主要在玉米、甘薯等含淀粉多的物质中提取。可直接食用，也可用于酿酒，同时还是经常出入筵席的烹调用料，因此有幸跻身于调料之列，成了葱蒜姜这些传统调料的哥们儿。虽说很多人对他的调料身份还知之甚少，不过仍然影响不了他在烹调界的无可替代的效用，好多菜肴的烹制离了他还真不行。<br/>
烹调时他虽然没有花椒、丁香那样的呈味功能，却还真不能小觑。例如，煎炸鱼时，直接将鱼放于高温的油中，很容易炸老，并且调料很难附着在光滑的鱼身上，这时涂上一层淀粉，问题就都迎刃而解了。附着着的淀粉既能使鱼熟而不老，保持其原有的鲜嫩与美味，还能拖住各种调味料——没有他，再美味的调料也只能流淌四溢、无影无踪。吃那种外面裹了一层厚厚淀粉的鱼排，最能感受的到：咬一口，外面焦焦脆脆，里面却异常鲜嫩松软，外焦里嫩口感十分独特，实在都是淀粉的功劳。不过用淀粉可是大有学问，一般中国烹调中大致有三种用淀粉的方法，就是挂糊、上浆、勾芡。一听到分类是不是就想发晕?别着急，其实特简单。挂糊就是下锅前在原料上加干淀粉，上浆就是下锅前在原料上加水淀粉，勾芡就是在起锅前加水淀粉使菜肴的汤变稠。到底什么样的菜肴，用什么样的淀粉，这里看家就要注意了。<br/>
　　如果您是要爆、炒、熘菜肴，芡汁一定要够浓，这样才能裹住原料，不会让汤汁四溢;如果您是扒、烩、烧菜肴，浓度要略底但仍要是浓芡，这样汤汁既能呈流动感又能与原料合为一体;如果您是做汤汁流动的菜肴，可施薄芡，只要汤的浓度达到您需要的程度就可以了，太浓会糊，太稀又会显的寡淡。<br/>
　　油的温度也十分重要。烹调上浆的菜肴时，油温太高，淀粉容易黏结成块;油温太低，淀粉容易与原料脱离，也就失去了他保护层的作用，所以最好在有少量油烟出现时下锅。而在挂糊煎炸时，当然焦黄松脆的最好，这时就需要油温高一些，油烟大量出现时下锅为最佳时机。勾芡时也要掌握好时机，太早容易发糊黏锅，太晚又会分布不匀，这就需要我们见机行事了。
						</p>
						
                        
					</div>
					<div class="clearfix"></div>
				</div>
				
				
				
				
			
				
				
	
</div><!-- container -->

	<footer class="footer">


	<div class="container">
	<div class="footer-bottom clearfix">
	<div class="eight columns">
	<p><a href="#">泉州闽泰贸易有限公司</a>&nbsp;版权所有 &nbsp;Copyright &copy; 2016 技术支持61KIDS </p>
	</div>
	<div class="eight columns">
	<nav class="footer-nav">
<ul>
<li>
<a class="first" href="__MODULE__/Index/index.html">主页</a>
/
</li>
<li>
<a href="__MODULE__/Index/company.html">公司简介</a>
/
</li>
<li>
<a href="__MODULE__/Index/news.html">新闻</a>
/
</li>
<li>
<a href="__MODULE__/Index/job.html">招聘</a>
/
</li>
<li>
<a href="__MODULE__/Index/contact.html">联系我们</a>
</li>
</ul>
</nav>
</div>
</div><!-- footer-bottom -->
</div>
	
</footer><!-- footer -->

<!-- End Document
================================================== -->
</body>
</html>