<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>泉州闽泰贸易有限公司</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/settings.css" media="screen"/>

    <!-- JS
  ================================================== -->
    <script src="__PUBLIC__/js/jquery-1.8.2.min.js" type="text/javascript"></script> <!-- jQuery -->
	<script src="__PUBLIC__/js/jquery.easing.1.3.js" type="text/javascript"></script> <!-- jQuery easing -->
	<script src="__PUBLIC__/js/modernizr.custom.js" type="text/javascript"></script> <!-- Modernizr -->
    <script src="__PUBLIC__/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script> <!-- tabs, toggles, accordion -->
    <script src="__PUBLIC__/js/custom.js" type="text/javascript"></script> <!-- jQuery initialization -->
  
    <!-- Responsive Menu -->
    <script src="__PUBLIC__/js/jquery.meanmenu.js"></script> 
    <script>
    jQuery(document).ready(function () {
    jQuery('header nav').meanmenu();
    });
    </script>
	
	<!-- Revolution Slider -->
	<script src="__PUBLIC__/js/jquery.themepunch.plugins.min.js"></script>
	<script src="__PUBLIC__/js/jquery.themepunch.revolution.min.js"></script>
	<script src="__PUBLIC__/js/revolution-slider-options.js"></script>
	
	<!-- Prety photo -->
	<script src="__PUBLIC__/js/jquery.prettyPhoto.js"></script>
	<script>
		$(document).ready(function(){
			$("a[data-gal^='prettyPhoto']").prettyPhoto();
		});
	</script>

	<!-- Tooltip -->
    <script src="__PUBLIC__/js/tooltip.js"></script>
	
	<!-- Flexisel -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery.flexisel.js"></script>

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">
	<link rel="apple-touch-icon" href="__PUBLIC__/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="__PUBLIC__/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="__PUBLIC__/images/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->
    
<header class="header">
<div class="container">
<div class="logos columns">
<h1 class="logo"><a href="index.html"><img src="__PUBLIC__/images/logo.png" alt="EVOLVE" /></a></h1>
</div><!-- logo -->

<div class="twelve columns">
<nav class="main_menu">

<ul>
<li class="current_page_item">
<a href="__CONTROLLER__/index.html">
主页
<div class="sub">
Home
</div>
</a>

</li>

<li>
<a href="__CONTROLLER__/company.html">
公司简介
<div class="sub">
Company
</div>
</a>

</li>

<li>
<a href="__CONTROLLER__/product.html">
产品介绍
<div class="sub">
Product
</div>
</a>
<ul>
<li><a href="__MODULE__/Product/images.html">果葡糖浆</a></li>
<li><a href="__MODULE__/Product/images2.html">麦芽糖浆</a></li>
<li><a href="__MODULE__/Product/images3.html">食用葡萄糖</a></li>
<li><a href="__MODULE__/Product/images4.html">植脂末</a></li>
<li><a href="__MODULE__/Product/images5.html">山梨糖醇</a></li>
<li><a href="__MODULE__/Product/images6.html">白砂糖</a></li>
<li><a href="__MODULE__/Product/images7.html">玉米淀粉</a></li>
<li><a href="__MODULE__/Product/images8.html">麦芽糊精</a></li>
<li><a href="__MODULE__/Product/images9.html">无水葡萄糖</a></li>
</ul>
</li>

<li>
<a href="__CONTROLLER__/news.html">
新闻新闻
<div class="sub">
News
</div>
</a>

</li>

<li>
<a href="__CONTROLLER__/job.html">
招聘信息
<div class="sub">
Job
</div>
</a>

</li>

<li>
<a href="__CONTROLLER__/contact.html">
联系我们
<div class="sub">
Contact us
</div>
</a>
</li>
</ul>

</nav><!-- navigation -->
</div>
<div class="clearfix"></div>
</div>
</header><!-- header -->

	
    <!-- REVOLUTION SLIDER
	============================================= -->
	<div class="fullwidthbanner-container top-shadow">
		<div class="fullwidthbanner">
			<ul>
				<!-- Slide 1 -->
				<li data-transition="boxfade" data-slotamount="2" data-masterspeed="300">
				<!-- Main Image -->
				<img src="__PUBLIC__/images/slider/Slider-1.jpg" alt="">
				<!-- End Main Image -->
				</li>
				<!-- End Slide 1 -->
				<!-- Slide 2 -->
				<li data-transition="boxfade" data-slotamount="3" data-masterspeed="300">
				<!-- Main Image -->
				<img src="__PUBLIC__/images/slider/Slider-2.jpg" alt="">
				<!-- End Main Image -->
				</li>
				<!-- End Slide 2 -->
				
			</ul>
		</div>
	</div>
	<!-- END REVOLUTION SLIDER
	============================================= -->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
<div class="container">

<div class="sixteen columns welcome">
<h3>食品安全，质量第一</h3>
    <p style="text-align:center;">一直是我们坚守的信念！服务于您一直是我们拥有的理念！
您的满意一直是我们追求的目标！</p>
</div>

<div class="separator"></div>

				<div class="four columns">
					<!-- Icon Box -->
					<div class="service">
						<a href="#"><i class="fa fa-desktop colored square"></i></a>
						<h3 class="centered"><a href="#" class="dark-link">信息化</a></h3>
						<p class="centered">
                        
						</p>
					</div>
					<!-- End Icon Box -->
				</div>
				<div class="four columns">
					<!-- Icon Box -->
					<div class="service">
						<a href="#"><i class="fa fa-html5 colored square"></i></a>
						<h3 class="centered"><a href="#" class="dark-link">食品安全</a></h3>
						<p class="centered">
						
						</p>
					</div>
					<!-- End Icon Box -->
				</div>
				<div class="four columns">
					<!-- Icon Box -->
					<div class="service">
						<a href="#"><i class="fa fa-css3 colored square"></i></a>
						<h3 class="centered"><a href="#" class="dark-link">质量第一</a></h3>
						<p class="centered">
                        
					</div>
					<!-- End Icon Box -->
				</div>
				<div class="four columns">
					<!-- Icon Box -->
					<div class="service">
						<a href="#"><i class="fa fa-magic colored square"></i></a>
						<h3 class="centered"><a href="#" class="dark-link">精益求精</a></h3>
						<p class="centered">
						
						</p>
					</div>
					<!-- End Icon Box -->
				</div>

<div class="clearfix"></div>

<div class="separator"></div>
				
	<div class="sixteen columns">
    <h4 class="headline">产品展示</h4>
    </div>

	<div class="four columns identity photography tehnology">
					<div class="work">
						<a href="__PUBLIC__/images/elements/img-3.jpg" data-gal="prettyPhoto" class="work-image">
							<img src="__PUBLIC__/images/elements/img-3.jpg" alt="">
							<div class="link-overlay fa fa-search"></div>
						</a>
						<a href="images.html" class="work-name">果葡糖浆</a>
						<div class="tags">
							 
						</div>
					</div>
				</div>
				<div class="four columns photography webdesign">
					<div class="work">
						<a href="__PUBLIC__/images/elements/img-1.jpg" data-gal="prettyPhoto" class="work-image">
							<img src="__PUBLIC__/images/elements/img-1.jpg" alt="">
							<div class="link-overlay fa fa-search"></div>
						</a>
						<a href="images3.html" class="work-name">食用葡萄糖</a>
						<div class="tags">
							 
						</div>
					</div>
				</div>
				<div class="four columns identity">
					<div class="work">
						<a href="__PUBLIC__/images/elements/img-7.jpg" data-gal="prettyPhoto" class="work-image">
							<img src="__PUBLIC__/images/elements/img-7.jpg" alt="">
							<div class="link-overlay fa fa-play"></div>
						</a>
						<a href="images4.html" class="work-name">植脂末</a>
						<div class="tags">
							 
						</div>
					</div>
				</div>
				<div class="four columns identity">
					<div class="work">
						<a href="__PUBLIC__/images/elements/img-11.jpg" data-gal="prettyPhoto" class="work-image">
							<img src="__PUBLIC__/images/elements/img-11.jpg" alt="">
							<div class="link-overlay fa fa-search"></div>
						</a>
						<a href="images6.html" class="work-name">白砂糖</a>
						<div class="tags">
							
						</div>
					</div>
				</div>
			
<div class="clearfix"></div>
			
	<!-- begin promobox -->
	<div class="sixteen columns">
	    <div class="promo-box clearfix">
	        <div class="text">
	        <h3>泉州闽泰贸易有限公司</h3>
	        <p>一家专门做糖和淀粉的公司</p>
	        </div>
	        <a class="btn big colored" href="contact.html"><i class="fa fa-hand-o-right"></i>联系我们</a>
	    </div>	
	</div>	
    <!-- end promobox -->
			
<div class="separator"></div>
	
<!-- Our Clients
================================================== -->
	<div class="sixteen columns clients">
    <h4 class="headline">友情链接</h4>

		<!-- Start brand carousel -->
			<ul id="flexiselDemo2">
            <li><a href="http://www.61kids.com.cn/"><img src="__PUBLIC__/images/12.jpg" alt="61KIDS" /></a></li>
            <li><a href="http://www.baidu.com/"><img src="__PUBLIC__/images/11.jpg" alt="百度" /></a></li>
            <li><a href="https://hao.360.cn/"><img src="__PUBLIC__/images/13.jpg" alt= "360" /></a></li>
                <li><a href="http://www.sohu.com/"><img src="__PUBLIC__/images/14.jpg" alt= "搜狐" /></a></li>
                <li><a href="http://cn.bing.com/"><img src="__PUBLIC__/images/15.jpg" alt= "必应" /></a></li>
            </ul>
            <div class="clearout"></div>
		<!-- End brand carousel -->
	    </div>	
				
</div><!-- container -->

	<footer class="footer">


	<div class="container">
	<div class="footer-bottom clearfix">
	<div class="eight columns">
	<p><a href="#">泉州闽泰贸易有限公司</a>&nbsp;版权所有 &nbsp;Copyright &copy; 2016 技术支持61KIDS </p>
	</div>
	<div class="eight columns">
	<nav class="footer-nav">
<ul>
<li>
<a class="first" href="index.html">主页</a>
/
</li>
<li>
<a href="company.html">公司简介</a>
/
</li>
<li>
<a href="news.html">新闻</a>
/
</li>
<li>
<a href="job.html">招聘</a>
/
</li>
<li>
<a href="contact.html">联系我们</a>
</li>
</ul>
</nav>
</div>
</div><!-- footer-bottom -->
</div>
	
</footer><!-- footer -->

<script type="text/javascript">

$(window).load(function() {
	$("#flexiselDemo2").flexisel({
		visibleItems: 5,
		animationSpeed: 1000,
		autoPlay: true,
		autoPlaySpeed: 3000,    		
		pauseOnHover: true,
		enableResponsiveBreakpoints: true,
    	responsiveBreakpoints: { 
    		portrait: { 
    			changePoint:480,
    			visibleItems: 1
    		}, 
    		landscape: { 
    			changePoint:640,
    			visibleItems: 2
    		},
    		tablet: { 
    			changePoint:768,
    			visibleItems: 3
    		}
    	}
    });
    
});
</script>
<!-- End Document
================================================== -->
</body>
</html>