<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>泉州闽泰贸易有限公司</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">

    <!-- JS
  ================================================== -->
    <script src="__PUBLIC__/js/jquery-1.8.2.min.js" type="text/javascript"></script> <!-- jQuery -->
	<script src="__PUBLIC__/js/jquery.easing.1.3.js" type="text/javascript"></script> <!-- jQuery easing -->
	<script src="__PUBLIC__/js/modernizr.custom.js" type="text/javascript"></script> <!-- Modernizr -->
    <script src="__PUBLIC__/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script> <!-- tabs, toggles, accordion -->
    <script src="__PUBLIC__/js/custom.js" type="text/javascript"></script> <!-- jQuery initialization -->
  
    <!-- Responsive Menu -->
    <script src="__PUBLIC__/js/jquery.meanmenu.js"></script> 
    <script>
    jQuery(document).ready(function () {
    jQuery('header nav').meanmenu();
    });
    </script>
	
	<!-- Revolution Slider -->
	<script src="__PUBLIC__/js/jquery.themepunch.plugins.min.js"></script>
	<script src="__PUBLIC__/js/jquery.themepunch.revolution.min.js"></script>
	<script src="__PUBLIC__/js/revolution-slider-options.js"></script>
	
	<!-- Prety photo -->
	<script src="__PUBLIC__/js/jquery.prettyPhoto.js"></script>
	<script>
		$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto();
		});
	</script>

	<!-- Tooltip -->
    <script src="__PUBLIC__/js/tooltip.js"></script>

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">
	<link rel="apple-touch-icon" href="__PUBLIC__/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="__PUBLIC__/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="__PUBLIC__/images/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

<header class="header">
<div class="container">
<div class="logos columns">
<h1 class="logo"><a href="__MODULE__/Index/index.html"><img src="__PUBLIC__/images/logo.png" alt="EVOLVE" /></a></h1>
</div><!-- logo -->

<div class="twelve columns">
<nav class="main_menu">

<ul>
<li>
<a href="__MODULE__/Index/index.html">
主页
<div class="sub">
Home
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/company.html">
公司简介
<div class="sub">
Company
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/product.html">
产品介绍
<div class="sub">
Product
</div>
</a>
<ul>
<li><a href="images.html">果葡糖浆</a></li>
<li><a href="images2.html">麦芽糖浆</a></li>
<li><a href="images3.html">食用葡萄糖</a></li>
<li><a href="images4.html">植脂末</a></li>
<li><a href="images5.html">山梨糖醇</a></li>
<li><a href="images6.html">白砂糖</a></li>
<li><a href="images7.html">玉米淀粉</a></li>
<li><a href="images8.html">麦芽糊精</a></li>
<li><a href="images9.html">无水葡萄糖</a></li>
</ul>
</li>

<li>
<a href="__MODULE__/Index/news.html">
公司新闻
<div class="sub">
News
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/job.html">
招聘信息
<div class="sub">
Job
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/contact.html">
联系我们
<div class="sub">
Contact us
</div>
</a>
</li>
</ul>

</nav><!-- navigation -->
</div>
<div class="clearfix"></div>
</div>
</header><!-- header -->

<div class="container">
<div class="sixteen columns page-title">
<div class="eight columns alpha">
<h3> <span>泉州闽泰贸易有限公司</span> </h3>
</div>
<div class="eight columns omega">
<nav class="breadcrumbs">
<ul>
<li>当前位置:</li>
<li>
<a href="__MODULE__/Index/index.html">主页</a>
</li>
<li>麦芽糊精</li>
</ul>
</nav>
</div>
<div class="clearfix"></div>
</div><!-- page-title -->
</div><!-- container -->

<div class="container">

	<div class="sixteen columns">
			<h4 class="headline">麦芽糊精</h4>
			<!-- Image Left-Aligned -->
			<img src="__PUBLIC__/images/elements/img-15.jpg" alt="" class="left">
			<!-- End Image Left-Aligned -->
			<p>
				麦芽糊精也称水溶性糊精或酶法糊精。它是以各类淀粉作原料，经酶法工艺低程度控制水解转化，提纯，干燥而成。其原料是含淀粉质的玉米，大米等。也可以是精制淀粉，如玉米淀粉，小麦淀粉，木薯淀粉等。 1970年，Veberbacher对麦芽糊精做出如下定义：以淀粉为原料，经控制水解DE值在20%以下的产品称为麦芽糊精，以区别淀粉经热解反应生成的糊精产品。 麦芽糊精的主要性状和水解率有直接关系，DE值不仅表示水解程度，而且是掌握产品特性的重要指标。了解麦芽糊精系列产品DE值和物性之间的关系，有利于正确选择应用各种麦芽糊精系列产品。
			</p>
			<p>
				其原料是含淀粉质的玉米、大米等，也可以是精制淀粉，如玉米淀粉、小麦淀粉、木薯淀粉等。主要成分为糊精并含有多聚糖、四糖或四糖以上的低聚糖，还含少量的麦芽糖和葡萄糖。
   </div>
   
   <div class="clearfix"></div>
   
   <div class="sixteen columns">

			<h4 class="headline">主要特征</h4>
			<!-- Image Right-Aligned -->
			<img src="__PUBLIC__/images/elements/img-16.jpg" alt="" class="right">
			<!-- End Image Right-Aligned -->
			<p>
				 麦芽糊精是DE值5-20的淀粉水解产物。它介于淀粉和淀粉糖之间，是一种价格低廉、口感滑腻、没有任何味道的营养性多糖。麦芽糊精一般为多种DE值的混合物。它可以是白色粉末，也可以是浓缩液体。流动性良好，无异味，几乎没有甜度。溶解性能良好，有适度的粘度。吸湿性低，不易结团。有较好的载体作用，是各种甜味剂、香味剂、填充剂等的优良载体。有很好的乳化作用和增稠效果。有促进产品成型和良好地抑制产品组织结构的作用。成膜性能好，既能防止产品变形又能改善产品外观。极易被人体吸收，特别适宜作病人和婴幼儿童食品的基础原料。对食品饮料的泡沫有良好的稳定效果。对结晶性糖具有抑制晶体析出的作用，有显著的“抗砂”“抗烊”作用和功能。
			</p>
			<p>
				具有甜度低，无异味，易消化，低热，溶解性好，发酵性小，填充效果好，不易吸潮，增稠性强，载体性好，稳定性好，难以变质的特性。麦芽糊精含有大量的多糖类，另外还含有钙、铁等对人体有益的微量元素及矿物质，并能促进人体正常的物质代谢。
			</p>
			
   </div>
   
  
   
   
   
   
				
</div><!-- container -->

	<footer class="footer">


	<div class="container">
	<div class="footer-bottom clearfix">
	<div class="eight columns">
	<p><a href="#">泉州闽泰贸易有限公司</a>&nbsp;版权所有 &nbsp;Copyright &copy; 2016 技术支持61KIDS </p>
	</div>
	<div class="eight columns">
	<nav class="footer-nav">
<ul>
<li>
<a class="first" href="__MODULE__/Index/index.html">主页</a>
/
</li>
<li>
<a href="__MODULE__/Index/company.html">公司简介</a>
/
</li>
<li>
<a href="__MODULE__/Index/news.html">新闻</a>
/
</li>
<li>
<a href="__MODULE__/Index/job.html">招聘</a>
/
</li>
<li>
<a href="__MODULE__/Index/contact.html">联系我们</a>
</li>
</ul>
</nav>
</div>
</div><!-- footer-bottom -->
</div>
	
</footer><!-- footer -->

<!-- End Document
================================================== -->
</body>
</html>