<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>泉州闽泰贸易有限公司</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">

    <!-- JS
  ================================================== -->
    <script src="__PUBLIC__/js/jquery-1.8.2.min.js" type="text/javascript"></script> <!-- jQuery -->
	<script src="__PUBLIC__/js/jquery.easing.1.3.js" type="text/javascript"></script> <!-- jQuery easing -->
	<script src="__PUBLIC__/js/modernizr.custom.js" type="text/javascript"></script> <!-- Modernizr -->
    <script src="__PUBLIC__/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script> <!-- tabs, toggles, accordion -->
    <script src="__PUBLIC__/js/custom.js" type="text/javascript"></script> <!-- jQuery initialization -->
  
    <!-- Responsive Menu -->
    <script src="__PUBLIC__/js/jquery.meanmenu.js"></script> 
    <script>
    jQuery(document).ready(function () {
    jQuery('header nav').meanmenu();
    });
    </script>
	
	<!-- Revolution Slider -->
	<script src="__PUBLIC__/js/jquery.themepunch.plugins.min.js"></script>
	<script src="__PUBLIC__/js/jquery.themepunch.revolution.min.js"></script>
	<script src="__PUBLIC__/js/revolution-slider-options.js"></script>
	
	<!-- Prety photo -->
	<script src="__PUBLIC__/js/jquery.prettyPhoto.js"></script>
	<script>
		$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto();
		});
	</script>

	<!-- Tooltip -->
    <script src="__PUBLIC__/js/tooltip.js"></script>

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">
	<link rel="apple-touch-icon" href="__PUBLIC__/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="__PUBLIC__/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="__PUBLIC__/images/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

<header class="header">
<div class="container">
<div class="logos columns">
<h1 class="logo"><a href="__MODULE__/Index/index.html"><img src="__PUBLIC__/images/logo.png" alt="EVOLVE" /></a></h1>
</div><!-- logo -->

<div class="twelve columns">
<nav class="main_menu">

<ul>
<li>
<a href="__MODULE__/Index/index.html">
主页
<div class="sub">
Home
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/company.html">
公司简介
<div class="sub">
Company
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/product.html">
产品介绍
<div class="sub">
Product
</div>
</a>
<ul>
<li><a href="images.html">果葡糖浆</a></li>
<li><a href="images2.html">麦芽糖浆</a></li>
<li><a href="images3.html">食用葡萄糖</a></li>
<li><a href="images4.html">植脂末</a></li>
<li><a href="images5.html">山梨糖醇</a></li>
<li><a href="images6.html">白砂糖</a></li>
<li><a href="images7.html">玉米淀粉</a></li>
<li><a href="images8.html">麦芽糊精</a></li>
<li><a href="images9.html">无水葡萄糖</a></li>
</ul>
</li>

<li>
<a href="__MODULE__/Index/news.html">
公司新闻
<div class="sub">
News
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/job.html">
招聘信息
<div class="sub">
Job
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/contact.html">
联系我们
<div class="sub">
Contact us
</div>
</a>
</li>
</ul>

</nav><!-- navigation -->
</div>
<div class="clearfix"></div>
</div>
</header><!-- header -->

<div class="container">
<div class="sixteen columns page-title">
<div class="eight columns alpha">
<h3> <span>泉州闽泰贸易有限公司</span> </h3>
</div>
<div class="eight columns omega">
<nav class="breadcrumbs">
<ul>
<li>当前位置:</li>
<li>
<a href="__MODULE__/Index/index.html">主页</a>
</li>
<li>麦芽糖浆</li>
</ul>
</nav>
</div>
<div class="clearfix"></div>
</div><!-- page-title -->
</div><!-- container -->

<div class="container">

	<div class="sixteen columns">
			<h4 class="headline">麦芽糖浆</h4>
			<!-- Image Left-Aligned -->
			<img src="__PUBLIC__/images/elements/img-4.jpg" alt="" class="left">
			<!-- End Image Left-Aligned -->
			<p>
				 麦芽糖浆是以优质淀粉为原料，经过液化、糖化、脱色过滤、精致浓缩而成的，以麦芽糖为主要成分产品。
麦芽糖(maltose)是经α-1,4糖苷键连接两个葡萄糖单位而成的双糖，又称为麦芽二糖。因C1羟基的位置不同有两种异构体，分别为α-和β-异构体。根据麦芽糖质量分数不同，麦芽糖浆可分为普通麦芽糖浆、高麦芽糖浆和超高麦芽糖浆。麦芽糖质量分数在60%以下的麦芽糖浆为普通麦芽糖浆，麦芽糖质量分数在60%～70%之间称为高麦芽糖浆，麦芽糖质量分数70%以上称为超高麦芽糖浆。
			</p>
			<p>
				 在食品行业领域里高麦芽糖浆的用途必不可少，高麦芽糖浆在食品中作用常作为甜味剂被大家认识，但是甜味剂仅仅是主要作用之一，高麦芽糖浆还可以作为添加剂、保湿剂、保鲜剂等。高麦芽糖的口感温和甜度低，可以替代部分砂糖，保持食品低甜味；或与砂糖并用，通过提高糖浓度来延长食品的保质期。高麦芽糖有优良的防止淀粉老化的功能，可以在饼干，海绵状食品等淀粉类食品中发挥功能，而且在低温和冷冻环境下效果更为显著，因而在冷藏食品和冷冻食品中能起到保持口感的作用。高麦芽糖不会因温度和湿度的变化而改变性质，因而可以用来制作不易吸湿的药丸各种粉末食品，另外，因具有良好的保湿性及防止淀粉老化的功能，可延长食品的保质期。高麦芽糖对热和酸具有比砂糖稳定的性质，因而适合用作热加工食品及酸性食品的甜味剂。高麦芽糖在食品加工中，可以通过调节加热条件和添加时段来使食品呈现最佳的风味和色泽。高麦芽糖是一种适合低压打锭的糖类，受打锭压力和湿度的影响小，不易裂开。因而，它可以用作直接打锭时的赋形剂。高麦芽糖的熔点约110℃，与砂糖相比要低，可以利用其低熔点性作为食品表面的光洁剂和食用饰品的粘合剂来加以使用。并能保持食品中的水分活度等各种性质基本不变。高麦芽糖能增强色素，尤其是草莓的红色色素，能使该色素保持良好的稳定性。在保证草莓酱和果冻色泽鲜亮的同时，因其低甜度的特性，从而使产品具有最佳风味。高麦芽糖的保油性能比糊精低，但比和葡萄糖高。另外和糊精等其它糖类相比，高麦芽糖乳化稳定性优异，并且适合低压打锭。通过利用这些性质高麦芽糖可以作为含油脂较多食品的糖原料
			</p>
   </div>
   
   <div class="clearfix"></div>
   
   <div class="sixteen columns">

			<h4 class="headline">功能性</h4>
			<!-- Image Right-Aligned -->
			<img src="__PUBLIC__/images/elements/img-5.jpg" alt="" class="right">
			<!-- End Image Right-Aligned -->
			<p>
				麦芽糖浆可以供给身体所需的能量和碳源，直接服用就可；与其它营养因子配合制备营养品。制造麦芽糖醇的主要原料是麦芽糖，麦芽糖醇在人摄入后不会使血糖、血脂升高，可以减轻糖尿病患者和心脑血管患者的病情，因为分解麦芽糖的酶在人身体里只有极少部分，所以不会引起人体血糖的变化。而血液中麦芽糖分子到达人体细胞内可不依赖胰岛素的作用，被相应的酶水解后直接参加三羧酸循环，有效地为身体提供能量。生产麦芽糖静脉注射液可以选用高纯度的麦芽糖，与常规的注射液相比，渗透压减小一半，脂肪代谢不同，体内蛋白质的消耗减少；毒性相对较低，对肝肾无伤害。综上所诉，制备高纯度麦芽糖意义重大
			</p>
			
			
   </div>
   
  
   
   
   
   
				
</div><!-- container -->

	<footer class="footer">


	<div class="container">
	<div class="footer-bottom clearfix">
	<div class="eight columns">
	<p><a href="#">泉州闽泰贸易有限公司</a>&nbsp;版权所有 &nbsp;Copyright &copy; 2016 技术支持61KIDS </p>
	</div>
	<div class="eight columns">
	<nav class="footer-nav">
<ul>
<li>
<a class="first" href="__MODULE__/Index/index.html">主页</a>
/
</li>
<li>
<a href="__MODULE__/Index/company.html">公司简介</a>
/
</li>
<li>
<a href="__MODULE__/Index/news.html">新闻</a>
/
</li>
<li>
<a href="__MODULE__/Index/job.html">招聘</a>
/
</li>
<li>
<a href="__MODULE__/Index/contact.html">联系我们</a>
</li>
</ul>
</nav>
</div>
</div><!-- footer-bottom -->
</div>
	
</footer><!-- footer -->

<!-- End Document
================================================== -->
</body>
</html>