<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>泉州闽泰贸易有限公司</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">

    <!-- JS
  ================================================== -->
    <script src="__PUBLIC__/js/jquery-1.8.2.min.js" type="text/javascript"></script> <!-- jQuery -->
	<script src="__PUBLIC__/js/jquery.easing.1.3.js" type="text/javascript"></script> <!-- jQuery easing -->
	<script src="__PUBLIC__/js/modernizr.custom.js" type="text/javascript"></script> <!-- Modernizr -->
    <script src="__PUBLIC__/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script> <!-- tabs, toggles, accordion -->
    <script src="__PUBLIC__/js/custom.js" type="text/javascript"></script> <!-- jQuery initialization -->
  
    <!-- Responsive Menu -->
    <script src="__PUBLIC__/js/jquery.meanmenu.js"></script> 
    <script>
    jQuery(document).ready(function () {
    jQuery('header nav').meanmenu();
    });
    </script>
	
	<!-- Revolution Slider -->
	<script src="__PUBLIC__/js/jquery.themepunch.plugins.min.js"></script>
	<script src="__PUBLIC__/js/jquery.themepunch.revolution.min.js"></script>
	<script src="__PUBLIC__/js/revolution-slider-options.js"></script>
	
	<!-- Prety photo -->
	<script src="__PUBLIC__/js/jquery.prettyPhoto.js"></script>
	<script>
		$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto();
		});
	</script>

	<!-- Tooltip -->
    <script src="__PUBLIC__/js/tooltip.js"></script>

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">
	<link rel="apple-touch-icon" href="__PUBLIC__/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="__PUBLIC__/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="__PUBLIC__/images/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

<header class="header">
<div class="container">
<div class="logos columns">
<h1 class="logo"><a href="__MODULE__/Index/index.html"><img src="__PUBLIC__/images/logo.png" alt="EVOLVE" /></a></h1>
</div><!-- logo -->

<div class="twelve columns">
<nav class="main_menu">

<ul>
<li>
<a href="__MODULE__/Index/index.html">
主页
<div class="sub">
Home
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/company.html">
公司简介
<div class="sub">
Company
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/product.html">
产品介绍
<div class="sub">
Product
</div>
</a>
<ul>
<li><a href="images.html">果葡糖浆</a></li>
<li><a href="images2.html">麦芽糖浆</a></li>
<li><a href="images3.html">食用葡萄糖</a></li>
<li><a href="images4.html">植脂末</a></li>
<li><a href="images5.html">山梨糖醇</a></li>
<li><a href="images6.html">白砂糖</a></li>
<li><a href="images7.html">玉米淀粉</a></li>
<li><a href="images8.html">麦芽糊精</a></li>
<li><a href="images9.html">无水葡萄糖</a></li>
</ul>
</li>

<li>
<a href="__MODULE__/Index/news.html">
公司新闻
<div class="sub">
News
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/job.html">
招聘信息
<div class="sub">
Job
</div>
</a>

</li>

<li>
<a href="__MODULE__/Index/contact.html">
联系我们
<div class="sub">
Contact us
</div>
</a>
</li>
</ul>

</nav><!-- navigation -->
</div>
<div class="clearfix"></div>
</div>
</header><!-- header -->

<div class="container">
<div class="sixteen columns page-title">
<div class="eight columns alpha">
<h3> <span>泉州闽泰贸易有限公司</span> </h3>
</div>
<div class="eight columns omega">
<nav class="breadcrumbs">
<ul>
<li>当前位置:</li>
<li>
<a href="__MODULE__/Index/index.html">主页</a>
</li>
<li>植脂末</li>
</ul>
</nav>
</div>
<div class="clearfix"></div>
</div><!-- page-title -->
</div><!-- container -->

<div class="container">

	<div class="sixteen columns">
			<h4 class="headline">植脂末</h4>
			<!-- Image Left-Aligned -->
			<img src="__PUBLIC__/images/elements/img-7.jpg" alt="" class="left">
			<!-- End Image Left-Aligned -->
			<p>
				 植脂末又称奶精，是以精制植物油或氢化植物油、酪蛋白等为主要原料的新型产品。该产品在食品生产和加工中具有特殊的作用，同时也是一种现代食品。
			</p>
			<p>
				 植脂末可根据用户的不同需要，在生产过程中可按其标准生产低脂、中脂、高脂产品。
主要成分：氢化植物油、乳化剂、葡萄糖浆、酪朊酸钠、硅铝酸钠。
			</p>
   </div>
   
   <div class="clearfix"></div>
   
   <div class="sixteen columns">

			<h4 class="headline">咖啡伴侣</h4>
			<!-- Image Right-Aligned -->
			<img src="__PUBLIC__/images/elements/img-8.jpg" alt="" class="right">
			<!-- End Image Right-Aligned -->
			<p>
				有很多人喝咖啡的时候喜欢在其中加牛奶，加了牛奶的咖啡颜色会变浅，视觉效果更好。口味上说，加了牛奶的咖啡也更受欢迎。最初盛牛奶的容器叫做“creamer”，后来人们就把加到咖啡里的牛奶叫做“creamer”。但是液体的牛奶需要冷藏保存，使用起来很不方便。在二十世纪六十年代雀巢公司开发了一种叫做“咖啡伴侣”的东西来代替牛奶作为“creamer”，中文翻译成“奶精”。因为是粉末，不需要冷藏，所以大受欢迎。后来其它的公司也生产了类似的产品，但是“咖啡伴侣”是雀巢的注册商标，不能使用，一般就直接叫做“非奶奶精（non-dairy creamer）”，或者更确切地说，叫做“咖啡增白剂（coffee whitener）”。
咖啡伴侣虽然叫做“非奶”制品，其实还真是含有牛奶成分。最关键的成分酪蛋白是牛奶中的主要蛋白。在咖啡伴侣开发出来的时候，酪蛋白只是奶酪生产中的副产品，价格低廉，也没有人把它当作“牛奶产品”对待。到了最近几年，由于酪蛋白的营养价值高，价格一路飙升，生产厂家纷纷寻求其它更便宜的蛋白质来代替。目前，用大豆蛋白和小麦蛋白生产的类似产品进入了市场，成了名副其实的“非奶奶精”。
在以前，这种产品仅仅作为咖啡增白剂替代牛奶的。后来有人直接拿他冲水喝，也有人把它当作食品原料加到蛋糕、奶油等食品中。因为它的形态以及冲水之后的产物都跟奶粉以及冲水后的奶粉非常像，也就被中国人叫做了“奶精”。工业上则更多的是喊作“植脂末”。
			</p>
			<p>
				奶精和奶粉的区别
奶粉是直接将天然的鲜奶喷雾干燥而来的，作为一种天然的农畜产品，有一定的标准比例，不允许添加任何其他东西（调味奶粉与机能性奶粉除外）．而“奶精”则是许多产品应用在咖啡时的统称，更多的是指透过人工调制的植脂末。当牛奶或者奶粉使用在咖啡上，其目的是起到：增白，增稠，增滑，中和苦涩的作用时，就是“奶精”的一种。但是使用在同样咖啡用途的植脂末，虽然也是“奶精”的一种，但是它却可以量身订做，没有一定的标准比例，主要是以氢化植物油、糖类、酪蛋白为主原料，再辅以乳化剂、稳定剂、香精、色素合成的，一般咖啡用途的植脂末，它的营养价值远比奶粉低，但是也有专供婴儿奶粉的植脂末，未经氢化富含亚麻酸等的不饱和脂肪酸。
咖啡奶精，核心指标：
一，增白效果：与酪蛋白的多寡、脂肪球大小、微胶囊技术有关。
二，溶解性：与颗粒大小、颗粒的扩散性、乳化效果、焦粒的多寡有关。
三，增稠性：与蛋白质的多寡有关。
四，中和性：与乳化效果、选择原料与配比、香精有关 。参考资料：百度百科
			</p>
			
   </div>
   
  
   
   
   
   
				
</div><!-- container -->

	<footer class="footer">


	<div class="container">
	<div class="footer-bottom clearfix">
	<div class="eight columns">
	<p><a href="#">泉州闽泰贸易有限公司</a>&nbsp;版权所有 &nbsp;Copyright &copy; 2016 技术支持61KIDS </p>
	</div>
	<div class="eight columns">
	<nav class="footer-nav">
<ul>
<li>
<a class="first" href="__MODULE__/Index/index.html">主页</a>
/
</li>
<li>
<a href="__MODULE__/Index/company.html">公司简介</a>
/
</li>
<li>
<a href="__MODULE__/Index/news.html">新闻</a>
/
</li>
<li>
<a href="__MODULE__/Index/job.html">招聘</a>
/
</li>
<li>
<a href="__MODULE__/Index/contact.html">联系我们</a>
</li>
</ul>
</nav>
</div>
</div><!-- footer-bottom -->
</div>
	
</footer><!-- footer -->

<!-- End Document
================================================== -->
</body>
</html>